<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
            <h4 class="text-center mb-4">login</h4>
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">correo electrònico</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-envelope-fill"></i>
                        </span>
                        <input type="email" class="form-control" id="email" placeholder="usuario@correo.com" required>
                    </div>

                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">contraseña</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-lock-fill"></i>
                        </span>
                        <input type="email" class="form-control" id="email" placeholder="***********" required>
                    </div>

                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">ingresar</button>
                </div>
            </form>

    </div>

</div>